{% extends 'LansolePagesBundle:Core:layout.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block meta %}
    {% if (page.description) %}
        <meta name="description" content="{{ page.description }}">
    {% endif %}

    {% if (page.keywords) %}
        <meta name="keywords" content="{{ page.keywords }}">
    {% endif %}
{% endblock %}


{% block container %}
<div class="row">
    {% if is_granted('ROLE_ADMIN') %}
        <section class="admin">
            <div class="alert-message block-message info" data-alert="true">
                <p><strong>Administration</strong></p>
                <p>Manage the current Page</p>
                <div class="alert-actions">
                    <a class="btn small primary" href="{{ path('LansolePagesBundle_page_edit', { 'slug': page.slug }) }}">Edit Page</a>
                    <a class="btn small error" href="{{ path('LansolePagesBundle_page_delete', { 'slug': page.slug }) }}">Delete Page</a>
                </div>
            </div>
        </section>
    {% endif %}

    {% if app.session.hasFlash('page-success') %}
        <div class="alert-message success" data-alert="true">
            <a class="close" href="#">×</a>
            <p>{{ app.session.flash('page-success')|raw }}</p>
        </div>
    {% endif %}

    {% include 'LansolePagesBundle:Template:' ~ page.template ~ '.html.twig' with { 'page': page } %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/lansolepages/js/jeditable/jeditable.js') }}"></script>
    <script src="{{ asset('bundles/lansolepages/js/block.app.js') }}"></script>
{% endblock %}